ul {
	display: flex;
  flex-wrap: wrap;
}

li {
  height: 100px;
  font-size: 0.7em;
  margin: 10px;
  list-style-type: none;
  padding:10px;
  opacity: 0.8;
  flex: 6;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.51);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.51);
}
