.App {
  text-align: center;
  background-color: #ECEFF1;
}

.App-header {
  background-color: #607D8B;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 20px;
  margin: 20px;
}

.App-title {
  font-size: 1.5em;
}

.container {
	display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}
