.App {
  text-align: center;
  background-color: #C5CAE9;
}

.App-header {
  background-color: #3F51B5;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding: 50px;
  margin: 50px;
}

.App-title {
  font-size: 1.5em;
}

.container {
	display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.margin-50 {
  margin: 50px;
}
